__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

venv/
venv1/

.env
postgres_data/
/tmp/Ultralytics/

pest_detection_training/notebooks/yolo26n.pt
pest_detection_training/notebooks/yolo8s.pt
pest_detection_training/data/dataset/
pest_detection_training/data/dataset.zip
pest_detection_training/models/runs/run1/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db